.container {
    background: #ffffff;
    width: 30%;
    margin-bottom: 20px;
}

h1, label {
    color: #0094cf;
    font-family: 'Signika', sans-serif;
}

.margin {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #0094cf;
}